
/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
}

/* Estilos para el título */

#cabecera {
  background-image: url('https://uacm.edu.mx/portals/_default/skins/wcga-uacm/images/Plantel.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: black;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

      #cabecera h1 {
        font-size: 36px;
        margin: 0;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra de texto */
      }

   /* Estilos para los botones */
   .pagina_principal_frame {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }

  .boton {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px; /* Bordes redondeados mayores para botones */
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
  }

  .boton i {
    margin-right: 8px;
  }

  /* Estilos para el botón de cierre de ventana emergente */
  .cerrar {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
  }


/* Cambiar el color de fondo al pasar el mouse sobre el botón */
.boton:hover {
  background-color: #8d0606; /* Nuevo color de fondo al pasar el mouse */
}

/* Agregar animación de escalado al botón al hacer clic */
.boton:active {
  transform: scale(0.95);
}

/* Efecto de ventana emergente */
.ventana-emergente {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%; /* Ancho de la ventana */
  max-width: 600px; /* Ancho máximo si se alcanza */
  background-color: #e97878;
  z-index: 1000;
  padding: 20px;
  border: 2px solid #000000;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  transition: all 0.3s ease;
}

.cerrar {
  color: #000000;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

/* Efecto al mostrar la ventana emergente */
.ventana-emergente.mostrar {
  display: block;
  opacity: 1;
  visibility: visible;
}

/* Efecto al ocultar la ventana emergente */
.ventana-emergente.ocultar {
  opacity: 0;
  visibility: hidden;
  transform: scale(0.8);
  transition: transform 0.3s, opacity 0.3s;
}


/* Animación de entrada para la ventana emergente */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* Animación de salida para la ventana emergente */
@keyframes fadeOut {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 1;
    transform: scale(0.8);
  }
}

/* Estilos para el buscador */
#buscador_frame {
  text-align: center;
  margin-top: 20px; /* Agregar margen superior */
  display: flex; /* Usar flexbox para centrar horizontalmente */
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
}

#entry_buscador {
  width: 200px;
  padding: 10px;
  border: 2px solid #ddd;
  border-radius: 20px;
  font-size: 15px;
  outline: none;
}
#btn_buscar {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-left: 10px;
}
#btn_buscar:hover {
  background-color: #0056b3;
}

table {
  font-family: Arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
}

th, td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
}

.contenedor-tabla {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formulario-agregar {
  width: 100%;
  margin-top: 20px;
}

.formulario-agregar label {
  display: block;
  margin-bottom: 5px;
}