{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Nueva Solicitud</title>

    <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/3076/3076061.png" type="image/x-icon">
    <link href="{% static 'Estilos/styles6.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
</head>
<body>
    <div class="formulario-container">
        <div class="header">
            <h1>Registro de Nueva Solicitud</h1>
        </div>
        <div class="overlay"></div> <!-- Capa semitransparente con desenfoque -->
        <form method="post" action="{% url 'solicitud_producto' %}" class="formulario">
            {% csrf_token %}
            <label for="id_producto">ID del Producto</label>
            <input type="text" id="id_producto" name="id_producto" required>

            <label for="nombre_producto">Nombre del Producto</label>
            <input type="text" id="nombre_producto" name="nombre_producto" required>

            <label for="cantidad">Cantidad</label>
            <input type="number" id="cantidad" name="cantidad" required>

            <div class="adjuntar-archivo">
                <label for="archivo_adjunto">Adjuntar Archivo</label>
                <input type="file" id="archivo_adjunto" name="archivo_adjunto" accept=".pdf,.doc,.docx" required>
            </div>

            <label for="cuerpo_correo">Cuerpo del Correo </label>
            <textarea id="cuerpo_correo" name="cuerpo_correo" rows="4" required></textarea>

            <div class="botones">
                <button type="submit">Enviar</button>
                <button type="button" class="borrar" onclick="command.execute('limpiarCampos')">Borrar</button>
            </div>
        </form>
    </div>
    <script>
        var Command = function (execute, undo, value) {
            this.execute = execute;
            this.undo = undo;
            this.value = value;
        }

        var limpiarCampos = function (value) {
            var campos = document.querySelectorAll('input, textarea');
            campos.forEach(function (campo) {
                campo.value = '';
            });
        }

        var command = new Command(limpiarCampos);
    </script>
</body>
</html>
